/* This file is for your main application css. */
@import "./phoenix.css";

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}

.chat-demo {
  max-width: 40em;
  margin: 1rem auto;
}

.chat-history {
  max-height: 200px;
  overflow-y: scroll;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .message {
    background-color: #ddd;
    padding: 1rem;
    border-bottom: 1px solid #ddd;

    p {
      margin-bottom: 0;
    }
  }

  .message:nth-child(even) {
    background-color: #efefef;
  }
}

.chat-input-container {
  display: flex;

  input {
    flex: 1 auto;
  }

  button {
    background-color: #00d8ff;
    border: none;
    color: #336699;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 0.8em;
  }
}